{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="gradient-text">Change Your Password</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ profile_form.as_p }}
                        {{ password_form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success gradient-text pb-2">Save the
                                new password
                            </button>
                        </div>
                    </form>
                    {% if messages %}
                    <ul class="messages mt-3">
                        {% for message in messages %}
                        <li class="alert {{ message.tags }} mt-1 mb-1">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
