{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-3">
    <h2>{{ article.title|capfirst }}</h2>
    <hr>
    <br>
    <div class="list-group list-group-scroll">
        {% for sub_article in sub_articles %}
        <a href="{% url 'sub_article_detail' sub_article.id %}" class="list-group-item list-group-item-action"
           style="background-color: {% cycle '#f8f9fa' '#e9ecef' %}; text-align: right; direction:rtl ; margin-bottom: 10px; border-radius: 10px;">
            {{ forloop.counter }}. {{ sub_article.title }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

<style>
    .list-group-item {
        cursor: pointer;
        transition: transform 0.2s;
        padding: 15px;
        border: 1px solid #dee2e6;
    }
    .list-group-item:hover {
        background-color: #d6d8db;
        transform: scale(1.05);
    }
    .list-group-scroll {
        max-height: 80vh;
        overflow-y: auto;
    }
    .container-fluid {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 100%;
    }
    h2 {
        text-align: center;
        color: #343a40;
    }
</style>
