{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="text-center mb-4">Articles in > ({{ category.name|capfirst }}) > ({{ section.name|capfirst }})</h3>
    <ul class="list-group list-group-horizontal">
        {% for article in articles %}
        <li class="list-group-item d-flex align-items-center">
            <a href="{% url 'subarticle_list' article.id category.id section.id %}" class="text-decoration-none d-flex align-items-center">
                <img src="{{ article.logo.url }}" alt="{{ article.title }} Logo" class="img-thumbnail" style="width: 100px; height: 100px; object-fit: cover;">
                <span class="ml-3">{{ article.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
