{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Sub-Articles in {{ article.title }}</h2>
    <div class="row">
        {% for sub_article in sub_articles %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ sub_article.title }}</h5>
                        <p class="card-text">{{ sub_article.content|safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
