{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">{{ category.name }} - Articles</span>
    <a class="btn btn-outline-secondary" href="{% url 'section_categories' category.section.id %}">Back to Categories</a>
</nav>

<div class="container mt-4">
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <a href="{% url 'article_subarticles' article.id %}" class="btn btn-primary">View Sub-Articles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
